## store infromation needed for all protocols
locations:
  kitchen:
    x: 0.5
    y: 1.44
    yaw: 0.78     # 45 degrees ≈ 0.78 rad
  living_room:
    x: 1.94
    y: -0.4
    yaw: -0.3
  home:
    x: 0.5
    y: -1.4
    yaw: 3.14     # π rad (180 degrees)

## need to be integerated to have robot interface get its info 
person_location_state: "person_location"
robot_location_state: "robot_location"

# available type: ## todo set it in a way to verifiy htat yaml doesnt include 
## undefined types: text, audio, video, question_answer 

###
# day:[] or not there means everyday
# optional
# reset_pattern optional         reset_pattern:
          # hours: 1
          # minutes: 30
          # atleast one hours or minutes need to be there

# different types of pattern:
# everytime the protocol is triggered it will be reset
## make sure that /state are turned to false
## reset after 5 mins
# reset_pattern:
#   type: on_trigger 

# reset_pattern:
#   type: periodic
#   hours: 1
#   minutes: 30

## this will be reset depending on the value of blackboard key
# reset_pattern:
#   blackboard_key: last_reset_timestamp 

###
protocols:
  TwoReminderProtocol:
    medicine_am:
      permissible_locations: TO BE INCORPORATED
      low_level:
        first_reminder: "please take your night medicine"
        type_first: text
        second_reminder: "This is the second reminder to take your night medicine"
        type_second: text
        wait_time_between_reminders: 30
      high_level:
        priority: 2
        success_on: {'state': 'coffee', 'value': True}
        requirements: 
          time: {'from': '1:30', 'to': '5:00'}
